/* You can add global styles to this file, and also import other style files */

/* Snackbar styles */
.success-snackbar {
  background-color: #4CAF50;
  color: white;
}

.success-snackbar .mat-simple-snackbar-action {
  color: white;
}
